@import "tailwindcss";

/* Base light/dark colors */
:root {
  --bg-color: #e9e9e9; /* body bg */
  --text-color: #1f2937;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --card-text: #1f2937;
  --subtitle-text: #6b7280;
  --primary-color: #0F4C81;
}

html.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --card-bg: #1f2937;
  --card-border: #374151;
  --card-text: #f9fafb;
  --subtitle-text: #9ca3af;
  --primary-color: #0F4C81;
}

/* Smooth transitions for everything */
body,
div,
p,
span,
h1,
h2,
h3,
input,
button {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.hero-gradient {
  background: linear-gradient(90deg, #ffffff98 15%, #1f293700 60%);
}

html.dark .hero-gradient {
  background: linear-gradient(90deg, #000000c4 15%, #1f293700 60%);
}

.hero-map {
  margin-left: 300px !important;
  margin-bottom: 100px;;
}

@media (max-width: 1065px) {
  .hero-map {
    display: none;
  }
}



/* Base style for each state */
.map-state {
  fill: #E6CC94; /* soft orange */
  stroke: #8C6B2D; /* darker border for contrast */
  stroke-width: 2;
  transition: fill 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  
  /* subtle shadow */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  
  cursor: pointer;
}

/* Hover effect for states */
.map-state:hover {
  fill: #fcd34d; /* brighter highlight */
  transform: scale(1.031);
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}

/* Selected state style */
.map-selected {
  fill: #ebb540; /* golden highlight */
  stroke: #b37f00; /* slightly darker border */
  stroke-width: 2.5;
  filter: drop-shadow(0 0 22px rgba(235, 181, 64, 0.9));
  
  /* smooth animation for color & pulse */
  transition: fill 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  /* glowing pulse animation */
  animation: pulse 2.5s infinite;
}

/* Pulse animation for selected state */
@keyframes pulse {
  0% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px rgba(235, 181, 64, 0.9));
  }
  50% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 20px rgba(235, 181, 64, 1));
  }
  100% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px rgba(235, 181, 64, 0.9));
  }
}
